// ============================================
// ABOUT PAGE LAYOUT
// ============================================
// Layout-specific styles for the about page
// Component variants are in scss/variants/
// This file only contains truly page-specific layout styles that don't fit into variants

// Note: All component styles have been moved to variants:
// - Hero variants: scss/variants/_hero-variants.scss
// - Intro variants: scss/variants/_intro-variants.scss  
// - Feature variants: scss/variants/_feature-variants.scss
// - Testimonial: scss/variants/_testimonial-variants.scss

