@tailwind base;
@tailwind components;
@tailwind utilities;

// Vendor packages
@import "vendor/glightbox.min.css"; // This is a manually placed vendor package.
@import "vendor/plyr.min.css"; // This is a manually placed vendor package.
@import "vendor/aos.css"; // This is a manually placed vendor package.
@import "swiper/css/bundle";

// Variables & mixins
@import "core/**/*.scss";

// Rivaland Variables & Mixins (import first for use in other files)
@import "../scss-rivaland/abstracts/_variables.scss";
@import "../scss-rivaland/abstracts/_mixins.scss";

// General styles
@import "general/**/*.scss";

// Global styles
@import "global/**/*.scss";

// Rivaland Base Styles
@import "../scss-rivaland/base/_base.scss";

// Components styles (boilerplate)
@import "components/**/*.scss";

// Rivaland Components
@import "../scss-rivaland/components/_accordion.scss";
@import "../scss-rivaland/components/_approach.scss";
@import "../scss-rivaland/components/_button.scss";
@import "../scss-rivaland/components/_card.scss";
@import "../scss-rivaland/components/_feature.scss";
@import "../scss-rivaland/components/_icon.scss";
@import "../scss-rivaland/components/_intro.scss";
@import "../scss-rivaland/components/_news.scss";
@import "../scss-rivaland/components/_projects.scss";

// Rivaland Layout
@import "../scss-rivaland/layout/_navigation.scss";
@import "../scss-rivaland/layout/_hero.scss";
@import "../scss-rivaland/layout/_footer.scss";
@import "../scss-rivaland/layout/_about.scss";

// Rivaland Variants
@import "../scss-rivaland/variants/_hero-variants.scss";
@import "../scss-rivaland/variants/_intro-variants.scss";
@import "../scss-rivaland/variants/_accordion-variants.scss";
@import "../scss-rivaland/variants/_feature-variants.scss";
@import "../scss-rivaland/variants/_testimonial-variants.scss";

// Block styles
@import "blocks/**/*.scss";